

#community-messages {
  padding-top: 0.25em;
  opacity: 0.7;
}

.event {
  color: rgb(30, 35, 31);
}

.user-event {
  color: rgb(30, 35, 31);
  font-style: normal;
}

.system-event {
  color: rgb(22, 206, 52);
  font-style: italic;
}